{% extends "layout.html" %}

{% block login_block %}
    <div class="add-record-block col-lg-4 offset-lg-4 col-sm-6 offset-sm-3 col-xs-12" id="login-block">
        <h4>Log In</h4>
        <form action="" method="post" class="form-horizontal" role="form" id="login-form">
            {{ form.hidden_tag() }}
            <div class="form-group col-lg-10">
                {{ form.email.label }}
                <div>{{ form.email(size=32, class="form-control") }}</div>
                {% for error in form.email.errors %}
                <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group col-lg-10">
                {{ form.password.label }}
                <div>{{ form.password(size=32, class="form-control") }}</div>
                {% for error in form.password.errors %}
                <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group col-lg-10">{{ form.remember_me() }} {{ form.remember_me.label }}</div>
            <div class="submit-panel">
                <div>{{ form.submit(class="btn btn-secondary btn-block") }}</div>
            </div>
        </form>
    </div>
{% endblock %}