{% extends "layout.html" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="auth-block col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-10 offset-md-1 col-xs-12"
                 id="register-block">
                <h1>Log In</h1>
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.username.label }}<br>
                        {{ form.username(size=32) }}<br>
                        {% for error in form.username.errors %}
                        <span>[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.password.label }}<br>
                        {{ form.password(size=32) }}<br>
                        {% for error in form.password.errors %}
                        <span>[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                    <p>{{ form.submit() }}</p>
                </form>
                <p>New User? <a href="{{ url_for("auth.register") }}">Click to Register!</a></p>
            </div>
        </div>
    </div>
{% endblock %}