.error {
    color: red;
}

.fa {
    color: black;
}

.fa-close {
    color: red;
}

.fa-check {
    color: green;
}

.users-table form.icon {
    display: inline;
}

.users-table form.icon button {
    border: none;
    background: transparent;
}