{% extends "admin_panel/base.html" %}

{% block content %}
<div class="add-user-block col-lg-12">
    <h4>Edit user</h4>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32, value=user.username) }}<br>
            {% for error in form.username.errors %}
            <span class="error">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32, value=user.email) }}<br>
            {% for error in form.email.errors %}
            <span class="error">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span class="error">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span class="error">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.is_admin.label }}
            {{ form.is_admin() }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</div>
{% endblock %}