{% extends "admin_panel/base.html" %}

{% block content %}
    <a href="{{ url_for("admin.edit_user_email", user_id=user.id) }}">Change email</a>
    <div class="edit-user-block col-lg-12">
        <h4>Edit {{ user.username }}</h4>
        <form action="" method="post" class="form-horizontal" role="form">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label(class="col-lg-2") }}
                <div class="col-lg-5">{{ form.username(size=32, class="form-control", value=user.username) }}</div>
                {% for error in form.username.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.is_admin.label(class="col-lg-2") }}
                <div class="col-lg-5" id="is_admin">{{ form.is_admin(checked=user.is_admin) }}</div>
            </div>
            <div class="form-group">
                {{ form.organizations.label(class="col-lg-2") }}
                <div class="col-lg-5">{{ form.organizations(class="form-control") }}</div>
                {% for error in form.organizations.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="submit-panel">
                {{ form.submit(class="btn btn-success") }}
                <a class="btn btn-danger" href="{{ url_for("admin.show_panel") }}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}