{% extends "layout.html" %}

{% block body %}
    <div class="page-content">
        {% if not error_message %}
            <!-- User has organizations -->

            <!-- Select organization form -->
            <div class="row" id="stats-panel-row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" id="customize-request">
                    <form action="" method="post" class="form-horizontal" role="form" id="customize-request-form">
                        {{ org_form.hidden_tag() }}
                        <div class="form-group">
                            {{ org_form.organization.label }}
                            {{ org_form.organization(class="form-control", id="select-organization") }}
                        </div>
                        {{ org_form.submit(class="btn btn-secondary") }}
                    </form>
                </div>

                <!-- Navigation bar block -->
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" id="time-slice-navigation">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="navbar" id="navbar-content">
                            <ul class="nav navbar-nav" id="periodselector">
                                <li class="nav-item" id="period-today"><a class="nav-link" href="today">Today</a></li>
                                <li class="nav-item" id="period-yesterday"><a class="nav-link" href="yesterday">Yesterday</a></li>
                                <li class="nav-item" id="period-thisweek"><a class="nav-link" href="this_week">This week</a></li>
                                <li class="nav-item" id="period-lastweek"><a class="nav-link" href="last_week">Last week</a></li>
                                <li class="nav-item" id="period-thismonth"><a class="nav-link" href="this_month">This month</a></li>
                                <li class="nav-item" id="period-lastmonth"><a class="nav-link" href="last_month">Last month</a></li>
                                <li class="nav-item" id="period-thisquarter"><a class="nav-link" href="this_quarter">This quarter</a></li>
                                <li class="nav-item" id="period-lastquarter"><a class="nav-link" href="last_quarter">Last quarter</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <form action="" method="post" class="form-horizontal" role="form">
                        {{ dt_form.hidden_tag() }}
                        <div class="form-row">
                            <div class="form-group col-lg-4">
                                {{ dt_form.start_date.label }}
                                {{ dt_form.start_date(class="form-control") }}
                                {% for error in dt_form.start_date.errors %}
                                    <span class="error">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="form-group col-lg-4">
                                {{ dt_form.end_date.label }}
                                {{ dt_form.end_date(class="form-control") }}
                                {% for error in dt_form.end_date.errors %}
                                    <span class="error">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        {{ dt_form.submit(class="btn btn-secondary") }}
                    </form>
                </div>
            </div>

            <!-- Organization's title -->
            <div id="statistics-data">
                <div id="title-block">
                    <h4>Show data for: {{ organization_name }}</h4>
                </div>

                <!-- Table blocks -->
                <div class="row">
                    {% include "stats/department_sales_table.html" %}
                    {% include "stats/fixed_totals_table.html" %}
                    {% include "stats/plu_sales_table.html" %}
                </div>
                <div class="row">
                    {% include "stats/last_100_sales_table.html" %}
                    {% include "stats/clerks_breakdown_table.html" %}
                    {% include "stats/group_sales_total_table.html" %}
                </div>
                <div class="row">
                    {% include "stats/free_function_table.html" %}
                </div>
            </div>
        {% else %}
            <!-- User doesn't have organizations -->
            <div class="error-message">{{ error_message }}</div>
        {% endif %}
    </div>

{% endblock %}