{% extends "layout.html" %}

{% block body %}
    <div class="page-content">
        <div class="table-block col-lg-9 col-sm-12">
            <!-- Table's title -->
            <div class="title-block">
                <h4> SALE ID: {{ order.id }}</h4>
            </div>

            <!-- Order info table -->
            <table class="table stats-table table-striped table-bordered table-hover table-sm" id="order-info-table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Consec Number</th>
                        <th>Sale ID</th>
                        <th>Site</th>
                        <th>Clerk</th>
                        <th>Sale Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ order.date_time }}</td>
                        <td>{{ order.consecutive_number }}</td>
                        <td>{{ order.id }}</td>
                        <td>{{ site }}</td>
                        <td>{{ clerk_name }}</td>
                        <td>&#163;{{ total_sale }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="table-block col-lg-9 col-sm-12">
            <!-- Table's title -->
            <div class="title-block">
                <h4> Sales Information</h4>
            </div>
            <!-- Order details table -->
            <table class="table stats-table table-striped table-bordered table-hover table-sm" id="order-info-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>

                {# PLU and PLU 2nd sales data #}

                {% for sale in plu_sale_items.values() %}
                    <tr>
                        <td>{{ sale.name }}</td>
                        <td>{{ sale.qty_sum }}</td>
                        <td>&#163;{{ sale.price_sum }}</td>
                    </tr>
                {% endfor %}

                {# Free Functions data #}

                {% for sale in free_func_items.values() %}
                    <tr class="table-success">
                        <td>{{ sale.name }}</td>
                        <td>{{ sale.qty_sum }}</td>
                        <td>&#163;{{ sale.price_sum }}</td>
                    </tr>
                {% endfor %}

                {# Change data #}

                {% if change > 0 %}
                    <tr class="table-danger">
                        <td>CHANGE</td>
                        <td>0</td>
                        <td>&#163;{{ change }}</td>
                    </tr>
                {% endif %}

                </tbody>
            </table>
        </div>
        <div class="table-block col-lg-9 col-sm-12">
            <!-- Table's title -->
            <div class="title-block">
                <h4>Department &amp; Group Totals</h4>
            </div>
            <!-- Department and group sales table -->
            <table class="table stats-table table-striped table-bordered table-hover table-sm"
                   id="department-group-sales-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                {% for sale in group_sales.values() %}
                    <tr class="table-info">
                        <td>{{ sale.name }}</td>
                        <td>{{ sale.qty_sum }}</td>
                        <td>&#163;{{ sale.price_sum }}</td>
                    </tr>
                {% endfor %}

                {% for sale in department_sales.values() %}
                    <tr class="table-warning">
                        <td>{{ sale.name }}</td>
                        <td>{{ sale.qty_sum }}</td>
                        <td>&#163;{{ sale.price_sum }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="table-block col-lg-9 col-sm-12">
            <!-- Table's title -->
            <div class="title-block">
                <h4>Fixed Totalizers</h4>
            </div>
            <!-- Department and group sales table -->
            <table class="table stats-table table-striped table-bordered table-hover table-sm"
            id="fixed-totals-sales-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sale in fixed_totalizers_sales_data.values() %}
                        <tr>
                            <td>{{ sale.name }}</td>
                            <td>{{ sale.qty_sum }}</td>
                            <td>&#163;{{ sale.price_sum }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}