<!DOCTYPE html>
<html>
{% block head %}
<meta charset="utf-8">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel=stylesheet type=text/css href={{ url_for('static', filename='app.css') }}>
<link rel=stylesheet type=text/css href={{ url_for('static', filename='statistics.css') }}>
<script type=text/javascript src={{ url_for('static', filename='app.js') }}></script>
{% endblock %}

<div id="header-row">
    <div id="logo">
        <h2>WEB-POS online software</h2>
    </div>
</div>
<div id="user-panel-row">
    {% if current_user.is_anonymous %}
    {#    do nothing for now    #}
    {% else %}
        <span id="greeting">Hello, <b>{{ current_user.email }}</b>!</span>
    <span id="logout">
        <a class="btn" role="button" href="{{ url_for('auth.logout') }}">Logout</a>
    </span>
    {% endif %}
</div>

<div class="container custom-container" id="main">
    <div class="row">
        <div class="col-lg-2 col-md-2" id="left-navigation">
            <nav class="navbar navbar-expand-lg navbar-light bg-light" id="main-nav">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#left-navbar-content"
                    aria-controls="left-navbar-content" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="left-navbar-content">
                    <ul class="nav navbar-nav" id="main-navigation">
                        {% if current_user.is_admin %}
                            <li class="nav-item"><a class="nav-link" id="admin-nav-item" href="{{ url_for("admin.show_panel") }}">Admin Panel</a></li>
                        {% endif %}
                        <li class="nav-item"><a class="nav-link" href="{{ url_for("stats.show_today") }}">Dashboard</a></li>
                        <li class="nav-item"><a class="nav-link" href="">Profile Settings</a></li>
                        <li class="nav-item"><a class="nav-link" href="">Error logs</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-lg-10" id="main-block">
        {% block body %}{% endblock %}
        </div>
    </div>
</div>

{% block footer %}{% endblock %}
</html>